
  img { border: 0; 
    width: 100px;
    height: 100px;
    max-width: 100%; 
  }
  
  h1 {
      font-size: 3vw;
      padding: 0.5vw 0;
      text-align: center;
    }
  #cart {
      display: block;
      border-collapse: collapse;
      margin: 0;
      width: 100%;
      font-size: 1.5vw;
      color: #444;
    }
    #cart thead th {
      padding: 3vw 0;
      font-weight: bold;
    }
    
    #cart thead th.first {
      width: 20vw;
    }
    #cart thead th.second {
      width: 5vw;
    }
    #cart thead th.third {
      width: 33vw;
    }
    #cart thead th.fourth {
      width: 21vw;
    }
    #cart thead th.fifth {
      width: 4vw;
    }
    
    #cart tbody td {
      text-align: center;
      margin-top: 3vw;
    }
    
    tr.productitm {
      height: 5vw;
      line-height: 6vw;
      border-bottom: 2px solid #d7dbe0;
    }
    .remove {
      cursor: pointer;
      position: relative;
      right: 2vw;
      top: 0.1vw;
    }
    
    .light {
      color: #272727;
      text-shadow: 1px 1px 0 rgba(255,255,255,0.45);
      font-size: 1.5vw;
      font-weight: normal;
    }
    .thick {
      color: #272727;
      font-size: 1.7em;
      font-weight: bold;
    }
    
    tr.checkoutrow {
      background: #286474;
      border-top: 2px solid rgb(206, 206, 206);
      border-bottom: 2px solid rgb(206, 206, 206);
    }
    td.checkout {
      padding: 12px 0;
      padding-top: 20px;
      width: 100%;
      text-align: right;
    }
    .far
    {
        position: absolute;
        color: rgb(0, 0, 0);
        padding: 12px 0;
        padding-top: 20px;
        font-size: 3vw;
        margin: 0 0 0 5vw;
    }
    .fa-cc-paypal
    {
        position: absolute;
        color: rgb(0, 0, 0);
        padding: 12px 0;
        padding-top: 20px;
        font-size: 3vw;
        margin: 0 0 0 1vw;
    }
    .fa-cc-amex
    {
      position: absolute;
      color: rgb(0, 0, 0);
      padding: 12px 0;
      padding-top: 20px;
      font-size: 3vw;
      margin: 0 0 0 9vw;
  }
    #submitbtn {
      width: 10vw;
      height: 4vw;
      outline: none;
      border: none;
      border-radius: 0.5vw;
      margin: 0 0 2vw 55vw;
      font-size: 1.5vw;
      letter-spacing: 0.05em;
      color: black;
      text-shadow: 1px 1px 0 rgba(0,0,0,0.2);
      cursor: pointer;
      overflow: hidden;
      border-bottom: 2px solid black;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff8800), color-stop(100%, #e74809));
      background-image: -webkit-linear-gradient(#22538b, #2964a8);
      background-image: -moz-linear-gradient(#22538b, #2964a8);
      background-image: -o-linear-gradient(#22538b, #2964a8);
      background-image: linear-gradient(#22538b, #2964a8);
  }
  #submitbtn:hover {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4d9cff), color-stop(100%, #338eff));
    background-image: -webkit-linear-gradient(#377cd1, #3c84db);
    background-image: -moz-linear-gradient(#377cd1, #3c84db);
    background-image: -o-linear-gradient(#377cd1, #3c84db);
    background-image: linear-gradient(#377cd1, #3c84db);
  }
  #submitbtn:active {
    border-bottom: 0;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #338eff), color-stop(100%, #4d9cff));
    background-image: -webkit-linear-gradient(#338eff, #4d9cff);
    background-image: -moz-linear-gradient(#338eff, #4d9cff);
    background-image: -o-linear-gradient(#338eff, #4d9cff);
    background-image: linear-gradient(#338eff, #4d9cff);
    -webkit-box-shadow: inset 0 1px 3px 1px rgba(0,0,0,0.25);
    -moz-box-shadow: inset 0 1px 3px 1px rgba(0,0,0,0.25);
    box-shadow: inset 0 1px 3px 1px rgba(0,0,0,0.25);
  }

  .textco {
    color: black;
    text-decoration: none;
  }

  #w {
    background-color: #388bacb0;
    border-radius: 20px;
    border-top: 3px solid rgb(18, 59, 105);
  }