*{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

.topnav {
    overflow: hidden;
    background-color: #343434;
    min-height: 4vh;
}
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    min-height: 2vh;
}
.topnav a:hover {
    background-color: #4E699C;
    color: white;
}
.topnav .icon {
    display: none;
}

.categories, .articles{
    border-collapse: collapse;
    table-layout: fixed;
}
.categories tr, .articles tr{
    border-bottom: .5px solid gray;
}
.categories tr td, .articles tr td{
    height: 40px;
}

.articles thead tr th{
    font-size: 1.2rem;
    font-weight: bold !important;
    font-style: italic;
    text-align: initial;
}

.articles tr td{
    padding: 10px;
    word-break: break-all;
}

.articles tr .td1{
    background-color: #FCFAFA;
}

.articles tr .td2{
    background-color: #EAE8E8;
}

.articles tr .td3{
    background-color: #DBD9D9;
}

.articles tr .td4{
    background-color: #D1CFCF;
    text-align: center;
}

.articles tr td p{
    width: 90%;
}
.categories tr td a.update, .articles tr td a.update{
    color: #4E699C;
}.categories tr td a.delete, .articles tr td a.delete{
    color: #9c534e;
}
.articles tr td{
    position: relative;
}
.articles tr td a.update{
    position: absolute;
    right: 10px;
    top: 10px;
}



@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
}
@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none !important;
        display: block;
        text-align: left;
    }
}

.articles-content {
    background-color: #FCFAFA;
    min-height: 96vh;
}

.articles-list {
    padding-top: 10vh 
}

.article {
    margin: 10px;
    padding: 5px;
    background-color: #596475;
    min-height: 17vh;
    position: relative;
}

.article-title {
    margin: 0;
    width: 100%;
    background-color: #fff;
    text-align: center;
    padding-bottom: 10px;
}

.article img {
    padding-top: 10px;
    display: block;
    width: 80px;
    margin: auto;
}

.article-description {
    padding-top: 20px;
}

.article-price {
    position: absolute;
    bottom: 10px;
}

.article button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 10px;
    border-radius: 5%;
    color: white;
    background-color: #1F2232;
    text-decoration: none;
    cursor: pointer;
}

.article button:hover {
    background-color: #A4B8C4;
    transition: 0.5s;
}

.title-page-categorie
{
    margin-bottom: 5vh;
}

.title-page-index
{
    margin-bottom: 5vh;
}

.categorie-lst {
    text-decoration: none;
    margin: 10px;
    background-color: #9c534e;
    padding: 20px;
    color: #FCFAFA;
}